src/Classification/.DS_Store
src/Visualization/.DS_Store
src/.DS_Store
examples/.DS_Store
.DS_Store
UnitTests/S06.mat
UnitTests/.DS_Store
UnitTests/*.mat
UnitTests/AllData.mat
*.m~
UnitTests/losorelli*.mat
*.asv
*losorelli_100sweep_epoched.mat
*losorelli_500sweep_epoched.mat
*.mexmac*
*S01.mat
*S04.mat
*S05.mat
*S06.mat
*S08.mat
*stimulus*.png
*MatClassRSA_v2_ExampleData_README.pdf
*OCEDStimuli.zip

# ignore compiled files for libsvm
src/libsvm-3.24/matlab/*.mexmaci64
src/libsvm-3.24/matlab/*.mex
src/libsvm-3.24/matlab/libsvmread.m*
src/libsvm-3.24/matlab/libsvmwrite.m*
src/libsvm-3.24/matlab/svmpredict.m*
src/libsvm-3.24/matlab/svmtrain.m*
src/libsvm-3.24/svm-train
src/libsvm-3.24/svm-predict
src/libsvm-3.24/svm-scale

